#intro{
  display: inline-block;
  padding-right:5%;
}

#activity{
  display: inline-block;
}

#member{
  display: inline-block;
  padding-left:5%;
}

#main{
	margin: 15% auto;
	width: 75%;
	text-align: center;
	min-width:600px;
}

#title{
	font-family:century gothic;
	font-size:70px;
	border:solid 2px;
	width:50%;
	margin:2% auto;
	min-width:538px;
	max-width:538px;
}

#syokai{
	font-size: 30px;
	font-family:sans-serif;
}

#katsudo{
	font-size:30px;
	font-family:sans-serif;
}

#mentsu{
	font-size:30px;
	font-family:sans-serif;
}

#footlogo{
	font-size:20px;
	font-family:sans-serif;
}

#first_low{
	height:80%;
	width:100%;
}
#memberintro_center{

}

.memberintro_25{
	display:inline-block;
	width:25%;
}
.memberintro_ptag{
	width:25%;
	margin:0 auto;
}
/* dialogのoverlayのデザイン */
.ui-widget-overlay.custom-overlay{
	background-color:black;
	background-image:none;
	opacity:0.8;
	z-index:1040;

}
/* dialog自体のデザイン */

/*.wkDialogClass{}*/

.ui-dialog-titlebar{
	background: none;
	border:none;

	height: 0;
	border-top:5px solid #000;
	border-radius: 0;
	padding:0;

}

.ui-dialog-title{
	display:none;
}

.ui-dialog-titlebar button{
	display:none;
}
.ui-dialog-content{}


.popdialog .ui-dialog-titlebar-close {
        top: 10px;
    }
.popdialog .ui-dialog-content {
        position: static;
    }

