#intro{
  display: inline-block;
  padding-right:5%;
}

#activity{
  display: inline-block;
}

#member{
  display: inline-block;
  padding-left:5%;
}

#main{
	margin: 15% auto;
	width: 75%;
	text-align: center;
	min-width:600px;
}

#title{
	font-family:century gothic;
	font-size:70px;
	border:solid 2px;
	margin:2% auto;
	min-width: 582px;
	max-width: 582px;
  color: #006699
}

#syokai{
	font-size: 30px;
	font-family:sans-serif;
}

#katsudo{
	font-size:30px;
	font-family:sans-serif;
}

#mentsu{
	font-size:30px;
	font-family:sans-serif;
}

#footlogo{
	font-size:20px;
	font-family:sans-serif;
  border-bottom: dotted 1px #006699;
}


/* dialogのoverlayのデザイン */
.ui-widget-overlay.custom-overlay{
	background-color:black;
	background-image:none;
	opacity:0.8;
	z-index:1040;

}
/* dialog自体のデザイン */

/*.wkDialogClass{}*/

.ui-dialog-titlebar{
	background: none;
	border:none;

	height: 0;
	border-top:15px solid #006699;
	border-radius: 0;
	padding:0;

}

.ui-dialog-title{
	display:none;
}

.ui-dialog-titlebar button{
	display:none;
}
.ui-dialog-content{
  display:none;
  color: #006699
}
.box7{
    padding: 1em 1em;
    margin: 1em 0;
    color: #006699;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #006699;/*左線*/
    border-right: double 7px #006699;/*右線*/
}
.box7 h1 {
    margin: 0;
    padding: 0;
}
.box1{
	text-align: center;
  color: #000000;
  font-size: 20px;
	font-family:sans-serif;
  margin: 2em auto;
 padding: 1em;
 width: 90%;
 border: 5px double #800080; /*太さ・線種・色*/
 background-color: #fff; /* 背景色 */
 border-radius: 10px; /*角の丸み*/
}
h3{
  color: #000000;
  font-size: 20px;
	font-family:sans-serif;
}
figure {
  position: relative;
  margin: auto;

}
figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 97%;
  height: 88%;
  background: rgba(0,0,50,.3);
  -webkit-transition: .10s;
  transition: .3s;
  opacity: 0;
 padding-top: 18px;
	padding-left:5px;
	padding-right: 5px;
}
figure:hover figcaption {
  opacity: 1;
}
table{
	align-items: center;
	margin: auto;
	padding: 5px;

}
h4{
  color:#802151;
  font-size: 20px;
	font-family:sans-serif;
}
h5{
  color:#802151;
  font-size: 20px;
	font-family:sans-serif;

}
.popdialog .ui-dialog-titlebar-close {
        top: 10px;
    }
.popdialog .ui-dialog-content {
        position: static;
    }

/*i tumblrの記事の部分のデザイン */
#post{
	width:75%;
	margin:0 auto;
}

#post-ttl{
	font-size:24px;
	border-bottom:solid 2px;
	border-color: gray;
}

.footer{
	background-color:rgba(230, 230, 230, 0.7);
	display:inline;
}

/* youtubeの部分のやつ*/
#videoPlayer{
	margin:0 auto;
	width:89.5%;
}
