#intro{
  display: inline-block;
}

#activity{
  display: inline-block;
}

#member{
  display: inline-block;
}

#main{
	margin: 0 auto;
	width: 75%;
	text-align: center;
}

.ui-widget-overlay.custom-overlay{
	background-color:black;
	background-image:none;
	opacity:0.8;
	z-index:1040;

}

